*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* intestazione */
header {
    height: 70px;
    background-color: white;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}
/* /intestazione */


/* contenitore grigio */
main {
    background-color: #f6f8f9;
    height: 1000px;
    padding-top: 30px;
}
/* /contenitore grigio */


/* container bottoni */
.container {
    background-color: white;
    width: 65%;
    height: 50px;
    margin: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
/* /container bottoni */


/* bottoni */
button {
    display: inline-block;
    width: 85px;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
}

.azul {
    background-color: #14aaf5;
    color: white;
    margin-left: 45px;
    border: 1px solid #14aaf5;
}

.branco {
    background-color: white;
    color: #d1d7db;
    margin-left: 10px;
    border: 1px solid #d1d7db;
}
/* /bottoni */


/* contenitore liste  */
.container2 {
    background-color: white;
    width: 65%;
    height: 60%;
    margin: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 3px;
}

/* /contenitore liste  */


/* varie task  */
.freccina {
    width: 200px;
    height: 50px;
    margin-left: 40px;
    display: inline-block;
    font-size: 10px;
}

.titolo {
    font-size: large;
    font-weight: bold;
    display: inline-block;
}
/* /varie task */


/* elenchi  */
ul {
    list-style: none;
    padding: 0;
    margin-top: 12px;
}

li {
    width: 700px;
    list-style-position: outside;
}

.element {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
}

#checked {
    border: 1px solid #2dc6ab;
    color: #2dc6ab;
}

#wrong {
    border: 1px solid #ff4444;
    color: #ff4444;
}

.contenuto {
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}

.pulsante {
    display: inline-block;
    color: white;
    border-radius: 15px;
    border: none;
}

#goals {
    background-color: #ab5de6;
}

#editorial{
    background-color: #14aaf5;
}

#recruiting {
    background-color: #2cc6ab;
}

#mobile {
    background-color: #ff9b00;
}

#website {
    background-color: #ec4a9d;
}

#sales {
    background-color: #a3d116;
}
/* /elenchi  */