*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* intestazione */
header {
    height: 70px;
    background-color: white;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/* /intestazione */

/* contenitore grigio */
main {
    background-color: #f6f8f9;
    height: 700px;
}

/* /contenitore grigio */